<h1>Flights</h1>

<%= render 'searchform', airport_options: @airport_options, date_options: @date_options %>

<% unless @passenger_number.nil? %>
  <%= "Passenger number : " + @passenger_number.to_s %>
    <%= form_with url: "/bookings/new", method: :get do |form| %>
    <table>
      <thead>
        <tr>
          <th>Start</th>
          <th>Stop</th>
          <th>Departure</th>
          <th>Duration</th>
          <th>Select Flight</th>
          <th colspan="5"></th>
        </tr>
      </thead>

      <tbody>
        <% @flights.each do |flight| %>
          <tr>
            <td><%= flight.start_airport.code %></td>
            <td><%= flight.stop_airport.code %></td>
            <td><%= flight.start_datetime %></td>
            <td><%= flight.flight_duration_in_seconds %></td>
            <td><%= form.radio_button :flight_id, flight.id %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= hidden_field_tag :passenger_number, @passenger_number %>
    <div class="actions">
      <%= form.submit "Select Flight" %>
    </div>
  <% end %>
<% end %>



