<h1>Flights</h1>

<%= render 'searchform', airport_options: @airport_options, date_options: @date_options %>

<table>
  <thead>
    <tr>
      <th>Start</th>
      <th>Stop</th>
      <th>Departure</th>
      <th>Duration</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @flights.each do |flight| %>
      <tr>
        <td><%= flight.start_airport.code %></td>
        <td><%= flight.stop_airport.code %></td>
        <td><%= flight.start_datetime %></td>
        <td><%= flight.flight_duration_in_seconds %></td>
      </tr>
    <% end %>
  </tbody>
</table>
