<h1>New Booking</h1>

<table>
  <thead>
    <tr>
      <th>Start</th>
      <th>Stop</th>
      <th>Departure</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @start_airport.code %></td>
      <td><%= @stop_airport.code %></td>
      <td><%= @datetime %></td>
    </tr>
  </tbody>
</table>
<div>
<%= form_for @booking do |f| %>

    <%= f.fields_for :passengers do |addy_form| %>

      <div class="field">
        <%= addy_form.label :name %>
        <%= addy_form.text_field :name %>
      </div>

      <div class="field">
        <%= addy_form.label :email %>
        <%= addy_form.email_field :email %>
      </div>
      <br>

    <% end %>
    
<%= hidden_field_tag :flight_id, @flight_id %>
<%= f.submit %>
<% end %>
</div>
